<div id="bill">
  <div class="bill-time">
    <span class="bill-time-year"></span>
    <i class="iconfont">&#xe642;</i>
  </div>
  <!-- 年总数 -->
  <div class="bill-total">
    <!-- <div class="bill-total-in ellipsis">
      <span class="bill-total-text">总收入：</span>
      <span class="bill-total-in-num">200.00</span>
    </div>
    <div class="bill-total-exp ellipsis">
      <span class="bill-total-text">总支出：</span>
      <span class="bill-total-exp-num ellipsis">300.00</span>
    </div>
    <div class="bill-total-surplus ellipsis">
      <span class="bill-total-text">结余：</span>
      <span class="bill-total-surplus-num ellipsis">-100.00</span>
    </div> -->
  </div>
  <!-- 表头 -->
  <div class="bill-head">
    <div class="bill-head-time">月份</div>
    <div class="bill-head-in">收入</div>
    <div class="bill-head-exp">支出</div>
    <div class="bill-head-surplus">结余</div>
  </div>
  <!-- 内容 -->
  <div class="bill-body">
    <!-- <div class="bill-body-item">
      <div class="bill-body-time">5</div>
      <div class="bill-body-in ellipsis">20000000.00</div>
      <div class="bill-body-exp ellipsis">50000000.00</div>
      <div class="bill-body-surplus ellipsis">-20000000022222.00</div>
      <div class="bill-body-todetail">
        <i class="iconfont">&#xe645;</i>
      </div>
    </div>
    <div class="bill-body-item">
      <div class="bill-body-time">4</div>
      <div class="bill-body-in">200.00</div>
      <div class="bill-body-exp">50000.00</div>
      <div class="bill-body-surplus">-20.00</div>
      <div class="bill-body-todetail">
        <i class="iconfont">&#xe645;</i>
      </div>
    </div> -->
  </div>

  <!-- 排行榜 -->
  <div class="bill-rank hidden">
    <!-- <div class="bill-rank-head">
      <span class="bill-rank-back">
        <i class="iconfont">&#xe644;</i>
      </span>
    </div>

    <div class="bill-rank-exp">
      <div class="bill-rank-text">支出排行榜:</div>
      <div class="bill-rank-list">
        <div class="bill-rank-in-item">
          <span class="bill-rank-icon">
            <i class="iconfont">&#xe602;</i>
          </span>
          <span class="bill-rank-type">日用</span>
          <span class="bill-rank-percent">50%</span>
        </div>
        <div class="bill-rank-in-item">
          <span class="bill-rank-icon">
            <i class="iconfont">&#xe602;</i>
          </span>
          <span class="bill-rank-type">日用</span>
          <span class="bill-rank-percent">100%</span>
        </div>
      </div>
    </div>

    <div class="bill-rank-in">
      <div class="bill-rank-text">收入排行榜:</div>
      <div class="bill-rank-list">
        <div class="bill-rank-in-item">
          <span class="bill-rank-icon">
            <i class="iconfont">&#xe602;</i>
          </span>
          <span class="bill-rank-type">日用</span>
          <span class="bill-rank-percent">50%</span>
        </div>
      </div>
    </div> -->
  </div>

  <!-- 时间选择器 -->
  <div class="bill-time-container hidden"></div>
</div>