<div id="homePage">
  <!-- 时间显示/选择 -->
  <div class="home-time">
    <span class="time-year"></span>
    <span>年</span>
    <span class="time-month"></span>
    <span>月</span>
    <span class="time-arrow"></span>
  </div>
  <!-- 收入/支出总数 -->
  <div class="home-total">
    <div class="income">
      <span class="title">收入:</span>
      <span class="income-num">0</span>
    </div>
    <div class="expense">
      <span class="title">支出:</span>
      <span class="expense-num">0</span>
    </div>
  </div>
  <!-- 明细 -->
  <div class="home-detail-list">
    <!-- <div class="detail-item">

      <div class="detail-item-time">05/11</div>

      <div class="detail-itemList">
        <div class="detail-itemList-type">
          <i class="iconfont icon-gouwu"></i>
          <span>购物</span>
        </div>
        <div class="detail-itemList-num">-1000.00</div>
      </div>

      <div class="detail-itemList">
        <div class="detail-itemList-type">
          <i class="iconfont icon-qian-"></i>
          <span>购物</span>
        </div>
        <div class="detail-itemList-num">-1000.00</div>
      </div>

    </div> -->
  </div>

  <!-- 详情框 -->
  <div class="home-info-mask hidden">
    <div class="home-info">
      <div class="home-info-content">
        <!-- <div class="home-info-date home-info-item">
          <span>日期：</span>
          <span>2020/5/12</span>
        </div>
        <div class="home-info-type home-info-item">
          <span>类型：</span>
          <span>支出</span>
        </div>
        <div class="home-info-money home-info-item">
          <span>金额：</span>
          <span>25.3</span>
        </div>
        <div class="home-info-note home-info-item">
          <span>备注：</span>
          <span>一二三四五六七八九十一二三四五六七八九十</span>
        </div> -->
      </div>

      <div class="home-info-ctrl">
        <div class="home-info-delete">删除</div>
        <div class="home-info-close">关闭</div>
      </div>
    </div>
  </div>


  <!-- 时间选择器 -->
  <div class="home-time-container hidden"></div>
</div>